doctype html

html(lang='en-AU')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='CSS button hover effects')
        meta(name='author' content='Julian Low')
        title Gait
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
        link(rel='stylesheet' href='dist/style.css')
        link(href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css')

    body
        .container
            .layout

                header
                    h1 Gait
                    p a small collection of CSS button hover effects

                .buttons-container
                    .col-2
                        button.btn.button-1
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-2
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-3
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-4
                            span.innerlay-1
                            span.innerlay-2
                            a(href='#').anchor Button

                    .col-2
                        button.btn.sticky.button-5
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-6
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-7
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-8
                            span.innerlay
                            a(href='#').anchor Button
