doctype html

html(lang='en-AU')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='CSS button hover effects')
        meta(name='author' content='Julian Low')
        title Gait
        link(rel='shortcut icon' href="favicon.ico" type='image/x-icon')
        link(rel='icon' href='favicon.ico' type='image/x-icon')
        link( href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900' rel='stylesheet' type='text/css' )
        link( href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css' rel='stylesheet' type='text/css' )
        link(rel='stylesheet' href='dist/style.css')
        link(rel='stylesheet' href='dist/icons.css')

    body
        .container
            .layout

                header.site-header
                    h1 Gait
                    p a small collection of CSS button hover effects

                .buttons-container
                    .col-3
                        button.btn.button-1
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-2
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-3
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.button-4
                            span.innerlay-1
                            span.innerlay-2
                            a(href='#').anchor Button

                    .col-3
                        button.btn.sticky.button-5
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-6
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-7
                            span.innerlay
                            a(href='#').anchor Button

                        button.btn.sticky.button-8
                            span.innerlay
                            a(href='#').anchor Button

                    .col-3
                        button.btn.button-9
                            a(href='#').anchor Button

                        button.btn.button-10
                            a(href='#').anchor Button

                        button.btn.button-11
                            span.border-1
                            span.border-2
                            a(href='#').anchor Button

                        button.btn.button-12
                            span.border-1
                            span.border-2
                            a(href='#').anchor Button

                footer.site-footer
                    a(href='http://heyjul.es')
                        span.icon-arrow-left
                        | back to home

                    span.slash /

                    a(href='http://github.com/heyjul3s/gait')
                        | view on github
                        span.icon-arrow-right
